{% extends 'base.html.twig'%}
{% block title %}Interphonie/Controle d'accès{% endblock %}
{% block body %}
<h1 class="text-center">Interphonie</h1>
<div class=espace_blanc></div>
<div class="container">
  <div class="row text-center text-lg-left">
  <div class="col-lg-4 col-md-5 col-xs-7">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{{ asset('bundles/Images/Logo dépannage/DAITEM.jpg') }}">
        </a>
      </div>
      <div class="col-lg-4 col-md-5 col-xs-7">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{{ asset('bundles/Images/Logo dépannage/PANASONIC.png') }}" alt="">
        </a>
      </div>
      <div class="col-lg-4 col-md-5 col-xs-7">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{{ asset('bundles/Images/Logo dépannage/AIPHONE.png') }}" alt="">
        </a>
      </div>
      <div class="col-lg-4 offset-lg-4 col-md-5 offset-md-5 col-xs-7 offset-xs-7">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{{ asset('bundles/Images/Logo dépannage/CASTEL.jpg') }}" alt="">
        </a>
      </div>
  </div>
</div>
<h1 class="text-center mt-5">Controle d'accès</h1>
<div class="espace_blanc"></div>
<div class="container">
  <div class="row text-center text-lg-left">
      <div class="col-lg-4 offset-lg-4 col-md-5 offset-md-5 col-xs-7 offset-xs-7">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="DIGICODE" alt="DIGICODE">
        </a>
      </div>
  </div>
</div>

{% endblock%}
