{% extends 'base.html.twig' %}
{% block title %}A Propos{% endblock %}
{% block body %}
 <!--Inserer le texte de la page d'accueil -->

<h1 class="text-center">REJOIGNEZ NOUS</h1>

<h1 class="text-center"> «  FAITES NOUS CONFIANCE »</h1>






<p>Fort de 27 ans d’expérience dans le domaine de la sécurité, « Philip’Alarme » est créée dans le but de mettre toutes ces connaissances et cette pratique au service des futurs clients.</p>


<p>La création de cette société, de taille familiale, permettra une grande proximité avec la clientèle avec pour objectif d’être à l’écoute et une réactivité d’intervention.</p>

<p>Cette entreprise locale permettra d’alléger les coûts de frais de déplacement.</p>



<p>Satisfaction et sérénité de nos clients, tel sera notre devise.</p>


Afin d’honorer cette devise, le choix des partenaires sera prépondérant. Nous apporterons toutes les solutions adaptées à vos besoins, dans un souci de cohérence :

<ul>

<li class="list-group-item">Respect du cahier des charges ou de la demande, au cas par cas.</li>

<li class="list-group-item">Etude préalable de toute installation.</li>

<li class="list-group-item">Conformité de pose et de la programmation matérielle.</li>

<li class="list-group-item">Explications et formation des utilisateurs.</li>

<li class="list-group-item">Suivi de la maintenance durant la période de garantie afin d’optimiser votre investissement.</li>

</ul>
 <!-- Fin d'insertion -->
{% endblock %}