*{
  margin:0;
  padding:0;
  -moz-box-sizing: border-box; box-sizing: border-box;
}

#page
{
    min-height: 100%;
    display : table;
    width: 100%;
    position: relative;

}


body,html{
  font-family: Verdana, Calibri, sans serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

footer
{

  background-color: #e3e3e3  ;
  border-top: 3px solid;
  border-bottom: 1px solid;
  color: #5f8dff; 
  width: 100%;
}

.img_logo{
  width: 500px;
}



nav{
  width: 100%;
  background-color:  #5f8dff ;
}

nav a{
  display: inline-block;
  text-decoration: none;
}

nav > ul{
  margin:0px;
  padding: 0px;
}

nav li{
  list-style-type: none;
}

nav > ul >li{
  float: left;
  position: relative;
}

nav > ul > li > a{
  padding: 20px 30px;
  color:  #faff89 ;
}

nav > ul > li:hover a{
  padding: 15px 30px 20px 30px;
}

nav > ul::after{
  content: "";
  display: table;
  clear: both;
}

nav input[type=checkbox]{
  display: none;
}

nav li:hover .submenu{
  display: inline-block;
  position: absolute;
  top:100%;
  left:0px;
  padding:0px;
  z-index: 100000
}

.menu-mobile{
  display: none;
}

.submenu{
  display: none;
}

.submenu li{
  border-bottom: 1px solid #CCC
}

.submenu li a{
  padding: 15px 30px;
  font-size: 13px;
  color: #222538;
  width: 270px;
}

.submenu li:hover a{
  color: #faff89;
  font-weight: bold;
}

.menu .submenu li:hover{
  background-color: #5f8dff 
}


.menu{
  color:black;
}

.menu .submenu{
  background-color:  #5f8dff;
}

.menu:hover{
  border-top: 5px solid  ;
  background-color:  #5f8dff ;
  color:#faff89;
}

.contactus{
  float:right;
}


.img_zerowire
{
  width: 100%
}

.espace_blanc
{
  padding: 2.5%;
}

.coordonnees{
  margin: 0px;
  margin-top: 10px;
}


.coordonnees::after{
  content:"";
  display: table;
  clear:both;
}

.coor-left{
  float: left;
  width: 10%
}

.coor-right{
  float:left;
  width: 10%
}

  
.bodyy-left{  
  float: left;
  width: 15%;
  height: 100%;
  background-color: #5f8dff;
  border-right: 2px solid ;
  border-top: 2px solid white;
  font-size: 14px;
}


.bodyy-left li a{
  color: #faff89;
}

.bodyy-left li a:hover{
  color: #222538;
}

.bodyy-right{
  margin-top: 5%;
  float: left;
  width: 85%;
}

.bodyy-right .contenu{
  margin-top: 50px;
  border-top: 2px solid #5f8dff;
}

.nav-left{
  background-color: #e3e3e3;
}
